<!DOCTYPE html>
{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock%}
{% block body %}
<img src={{ allAlbum.album_logo }}>

<h1>{{ allAlbum.album }}</h1>
<h3>{{allAlbum.artist}}</h3>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' allAlbum.id %}" method="post">
    {% csrf_token %}
    {% for song in allAlbum.song_set.all %}
        <input type="radio" id="song{{ loop.counter }}" name="song" value="{{ song.id }}"/>
        <level for ="song{{ loop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="/home/pranoy/Downloads/star-icon.png"/>
            {% endif %}
        </level><br>
    {% endfor %}
    <input type="submit" value="Favorite"/>

</form>
{% endblock %}